.wrapTimer{
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 50px;
}

.checkValue{
    width: 138px;
    background: #f1f1f6;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-right: auto;
    cursor:pointer;
    margin-left: auto;
}

.checkValue:hover{
    background:#b0b0b5;
    color:white;
}

.wrapAll{
    padding: 15px 80px;
}

.wrapUsers{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50px;
    background: #f1f1f6;
    grid-gap: 10px;
}

.wrapUsers .user{
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    display:grid;
    grid-gap: 5px;
    grid-template-columns: 150px 1fr 50px;
    grid-template-rows: repeat(75px);
}

.wrapUsers .user div{
    box-sizing: border-box;
    padding:5px;
    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 1px;
}

.user div:first-child{
    text-align: center;
    font-weight: 700;
    
}

.user div:last-child{
    text-align: center;
    font-weight: 700;

    padding: 12px !important;
    box-sizing: border-box;
}


.wrapButton{
    min-height: 90px;
}

.material-icons{
    cursor: pointer;
    text-align: center;
}

.material-icons:hover{
    
    color:rgba(0, 144, 243, 1) !important;
}