

.loginForm{
    height: auto;
    width: 50%;
    border-radius: 5px;
    background: #f1f1f6;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    min-height: 36%;

}

.wrong{
    background: salmon;
    color:salmon;
}

.Title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

  
  .full-width {
    width: 100%;
  }


  .submitButton{
    background: rgba(0, 144, 243, 1);
    color: white;
    font-weight: 700;
  }

  .wraoButtons{
      width: 100%;
      position: relative;
  }

  .RegisterText{
    cursor: pointer;
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    color: #0070bc;
  }

  .RegisterText:hover{
    color:white !important;
  }

  form{
      margin-bottom: 10px;
  }