

<div class="wrapAll">
    <div class="loginForm">
        <p class="Title">Welcome</p>

        <form [formGroup]="registerForm">
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="username" formControlName="username">
            </mat-form-field>
        
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" formControlName="password" type="password">
            </mat-form-field>
        
        
            <input matInput [matDatepicker]="picker" formControlName="DOB">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        
        
        </form>
          <div class="wraoButtons">
            <button *ngIf="registerForm.valid" class="submitButton" mat-button color="accent" (click)="Submit()">Register</button>
            <p class="RegisterText" (click)="gotoLogin()">Back to Login</p>
          </div>
         
    </div>
</div>